<?php
$billetUrl = $this->getBilletUrl();
if ($billetUrl):
?>
<div style = "padding:20px; border: 1px solid blanchedalmond; ">
Clique no link abaixo e baixe seu boleto:<br/>
<a href="<?=$billetUrl;?>">Url do boleto</a>
</div>
<?php
endif;
?>