<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->


<fieldset data-bind="attr: {class: 'fieldset payment items ccard ' + getCode(), id: 'payment_form_' + getCode()}">
    <div class="payment-form payment-az2009">
        <div class="box-form">
            <div class="fields group group-2">
                <div class="field">
                    <div class="control">
                        <label class="label" data-bind="attr: {for: getCode() + '_bs_identification'}">
                            <label class="label">
                                <span><!-- ko i18n: 'Bank slip method  .'--><!-- /ko --></span>
                            </label>
                    </div>
                </div>

            </div>
        </div>
    </div>
</fieldset>