<div class="field date required" data-bind="attr: {id: getCode() + '_cc_type_exp_div'}">
    <label data-bind="attr: {for: getCode() + '_expiration'}" class="label">
        <span><!-- ko i18n: 'Installment numbersx'--><!-- /ko --></span>
    </label>
    <div class="control">
        <div class="fields group group-2">

            <div class="field no-label year">
                <div class="control">
                    <select name="payment[cc_exp_year]"
                            class="select select-year"
                            data-bind="attr: {id: getCode() + '_expiration_yr', 'data-container': getCode() + '-cc-year', 'data-validate': JSON.stringify({required:true})},
                                           enable: isActive($parents),
                                           options: getCcYearsValues(),
                                           optionsValue: 'value',
                                           optionsText: 'year',
                                           optionsCaption: $t('Year'),
                                           value: creditCardExpYear">
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
